<!DOCTYPE html>
<html lang="">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn</title>
    <link rel="icon" href="/static/favicon.png">

    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    
  </head>
  <body>
    <div class="wrapper">
        <h1>Select a subject</h1>
        <a href="/it/"><h2 class="box"><i class="fas fa-database"></i> BTEC IT</h2></a>
        <a href="/cs/"><h2 class="box"><i class="fas fa-laptop-code"></i> A-Level Computer Science</h2></a>
        <a href="/programming/"><h2 class="box"><i class="fas fa-code"></i> Programming</h2></a>
    </div>
  </body>
</html>
