<!DOCTYPE html>
<html lang="">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTEC IT</title>
    <link rel="icon" href="/static/favicon.ico">

    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/script.js"></script>

    <style> :root{ --colour: #5f27cd; } </style>
    
  </head>
  <body>

    <a class="drawer"><i class="fas fa-compass"></i></a>

    <div class="sidebar hide">
      <div class="wrapper">

        <a href="/it"><h1><i class="fas fa-database"></i> BTEC IT</h1></a>

        <div class="nav">

          <div class="item dropdown">
            <a>A - Digital devices</a>
            <div class="nav">

              <div class="item dropdown">
                <a>Functions and use</a>
                <div class="nav">
                  <div class="item">
                    <a href="/it/a/1/thing">Page 1</a>
                  </div>
                  <div class="item">
                    <a href="/it/a/1/that">Page 2</a>
                  </div>
                </div>
              </div>

              <div class="item dropdown">
                <a>Peripheral devices and media</a>
                <div class="nav">
                  <div class="item">
                    <a href="/it/a/2/thing">Page 1</a>
                  </div>
                  <div class="item">
                    <a href="/it/a/2/that">Page 2</a>
                  </div>
                </div>
              </div>

              <div class="item dropdown">
                <a>Computer software in an IT system</a>
                <div class="nav">
                  <div class="item">
                    <a href="/it/a/3/thing">Page 1</a>
                  </div>
                  <div class="item">
                    <a href="/it/a/3/that">Page 2</a>
                  </div>
                </div>
              </div>

              <div class="item dropdown">
                <a>Emerging technologies</a>
                <div class="nav">
                  <div class="item">
                    <a href="/it/a/4/thing">Page 1</a>
                  </div>
                  <div class="item">
                    <a href="/it/a/4/that">Page 2</a>
                  </div>
                </div>
              </div>
              
              <div class="item dropdown">
                <a>Choosing IT systems</a>
                <div class="nav">
                  <div class="item">
                    <a href="/it/a/5/thing">Page 1</a>
                  </div>
                  <div class="item">
                    <a href="/it/a/5/that">Page 2</a>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="item dropdown">
            <a>B - Transmitting data</a>
            <div class="nav">

              <div class="item dropdown">
                <a>Connectivity</a>
                <div class="nav">
                  <div class="item">
                    <a href="/it/b/1/thing">Page 1</a>
                  </div>
                  <div class="item">
                    <a href="/it/b/1/that">Page 2</a>
                  </div>
                </div>
              </div>

              <div class="item dropdown">
                <a>Networks</a>
                <div class="nav">
                  <div class="item">
                    <a href="/it/b/2/thing">Page 1</a>
                  </div>
                  <div class="item">
                    <a href="/it/b/2/that">Page 2</a>
                  </div>
                </div>
              </div>
              
              <div class="item dropdown">
                <a>Issues relating to transmission of datas</a>
                <div class="nav">
                  <div class="item">
                    <a href="/it/b/3/thing">Page 1</a>
                  </div>
                  <div class="item">
                    <a href="/it/b/3/that">Page 2</a>
                  </div>
                </div>
              </div>
              
            </div>
          </div>

          <div class="item dropdown">
            <a>C - Operating online</a>
            <div class="nav">

              <div class="item dropdown">
                <a>Online systems</a>
                <div class="nav">
                  <div class="item">
                    <a href="/it/c/1/thing">Page 1</a>
                  </div>
                  <div class="item">
                    <a href="/it/c/1/that">Page 2</a>
                  </div>
                </div>
              </div>

              <div class="item dropdown">
                <a>Online communities</a>
                <div class="nav">
                  <div class="item">
                    <a href="/it/c/2/thing">Page 1</a>
                  </div>
                  <div class="item">
                    <a href="/it/c/2/that">Page 2</a>
                  </div>
                </div>
              </div>
              
            </div>
          </div>

          <div class="item dropdown">
            <a>D - Protecting data</a>
            <div class="nav">

              <div class="item dropdown">
                <a>Threats to data, information and systems</a>
                <div class="nav">
                  <div class="item">
                    <a href="/it/d/1/thing">Page 1</a>
                  </div>
                  <div class="item">
                    <a href="/it/d/1/that">Page 2</a>
                  </div>
                </div>
              </div>

              <div class="item dropdown">
                <a>Protecting data</a>
                <div class="nav">
                  <div class="item">
                    <a href="/it/d/2/thing">Page 1</a>
                  </div>
                  <div class="item">
                    <a href="/it/d/2/that">Page 2</a>
                  </div>
                </div>
              </div>
              
            </div>
          </div>

          <div class="item dropdown">
            <a>E - Impact of IT systems</a>
            <div class="nav">

              <div class="item dropdown">
                <a>Online services</a>
                <div class="nav">
                  <div class="item">
                    <a href="/it/e/1/thing">Page 1</a>
                  </div>
                  <div class="item">
                    <a href="/it/e/1/that">Page 2</a>
                  </div>
                </div>
              </div>

              <div class="item dropdown">
                <a>Impact on organisations</a>
                <div class="nav">
                  <div class="item">
                    <a href="/it/e/2/thing">Page 1</a>
                  </div>
                  <div class="item">
                    <a href="/it/e/2/that">Page 2</a>
                  </div>
                </div>
              </div>

              <div class="item dropdown">
                <a>Using and manipulating data</a>
                <div class="nav">
                  <div class="item">
                    <a href="/it/e/3/thing">Page 1</a>
                  </div>
                  <div class="item">
                    <a href="/it/e/3/that">Page 2</a>
                  </div>
                </div>
              </div>
              
            </div>
          </div>

          <div class="item dropdown">
            <a>F - Issues</a>
            <div class="nav">

              <div class="item dropdown">
                <a>Moral and ethical issues</a>
                <div class="nav">
                  <div class="item">
                    <a href="/it/f/1/factors">Factors</a>
                  </div>
                  <div class="item">
                    <a href="/it/f/1/that">Page 2</a>
                  </div>
                </div>
              </div>

              <div class="item dropdown">
                <a>Legal issues</a>
                <div class="nav">
                  <div class="item">
                    <a href="/it/f/2/thing">Page 1</a>
                  </div>
                  <div class="item">
                    <a href="/it/f/2/that">Page 2</a>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="main">
      <div class="wrapper">
          <%- content %>
      </div>
    </div>
  </body>
</html>
