@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/*
[ ORDERING ]:
- visual style (color, display),
- sizing (width, padding),
- positioning,
- extra
*/ 

/* - [ VARIABLES ] - */

:root{
  --colour: black;

  --sidebar-size: 18em;
}

@media (max-aspect-ratio: 7/8){
  :root{
    --sidebar-size: 0;
  }
}

/* [ DEFAULTS ] */

*{
  font-family: montserrat;
}

a{
  color: inherit;
  text-decoration: inherit;
}

li{
  list-style: none;
  text-decoration: none;
}

body,
html{
  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;
}

/* - [ BASICS ] - */

.wrapper{
  padding: 1.5em;
}
.wrapper > :first-child{
  margin-top: 0;
}

/* - [ GENERAL STYLING ] - */

/* - COLOURS - */

.item a.active  { color: var(--colour); }
.main .wrapper a{ color: var(--colour); }

/* - SCROLL BAR - */

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background: none;
}
::-webkit-scrollbar-thumb{
  background: lightgrey; 

  border-radius: 5px;
  width: 5px;
}
::-webkit-scrollbar-thumb:hover{
  background: grey; 

  border-radius: 5px;
}

/* - LINKS - */

a:hover{
  font-weight: bold;
}

/* - LEARN HOME - */

.box{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border-radius: 1em;
  padding: 1em;

  position: relative;
  top: 0;

  transition: top .3s;
}
.box:hover{
    top: -5px;
}

/* [ SIDE BAR ] */

.sidebar .wrapper{
  padding-top: 0;
}

.sidebar{
  background-color: white;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2), 0 0 20px 0px rgba(0, 0, 0, 0.19);

  width: var(--sidebar-size);
  height: 100%;

  position: fixed;
  top: 0;

  overflow: auto;

  z-index: 1;
  /* transition: cubic-bezier(.96, 1.61, .31, .74) .3s; */
}

/* - SUBJECT - */

.sidebar h1{
  background-color: white;
  border-bottom: 1px solid lightgrey;

  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0;

  text-align: center;

  position: sticky;
  top: 0;
}

/* - NAVIGATION - */

.item a{
  display: block;

  border-bottom: 1px solid lightgrey;

  padding: 0.75em;
}
.item a:hover{
  cursor: pointer;
}
.item a.active{
  font-weight: bold;
}

/* Dropdown items */
.item .nav a{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.dropdown a:only-child{
  background-color: rgb(240, 240, 240);
}

/* Dropdown icon */
.dropdown a:not(:only-child)::before {
  color: lightgrey;

  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight:900;

  padding-right: 0.25em;
}
/* Master dropdown */
.sidebar .wrapper > .nav > .item > a::before{
  color: black;
}

/* Dropdown indents */
.nav .dropdown .item a{
  padding-left: 1em;
}
.nav .dropdown .dropdown .item a{
  padding-left: 2em;
}
.nav .dropdown .dropdown .dropdown .item a{
  padding-left: 3em;
}

/* Hide dropdowns */
.dropdown .nav{
  display: none;
}

/* - DRAWER (FOR MOBILE) - */

.drawer {
  display: none;

  background-color: white;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2), 0 0 20px 0px rgba(0, 0, 0, 0.19);

  border-radius: 0em 0em 1em 1em;
  padding: 0.5em;

  font-size: 1.5em;

  position: fixed;
  top: 0;
  right: 1em;

  z-index: 2;
}
.drawer:hover {
  cursor: pointer;
}

/* [ MAIN CONTENT ]*/

.main{
  margin-left: var(--sidebar-size);

  z-index: -1;
}

/* - BASIC CONTENT - */

.main img {
  /* box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2), 0 0 10px 0px rgba(0, 0, 0, 0.19); */

  width: 100%;
  max-width: 40em;
}

.main h1 {
  font-weight: bold;
  padding-bottom: 0.1em;
  border-bottom: 2px solid var(--colour);
}

.main h2 {
  padding-bottom: 0.2em;
  border-bottom: 1px dashed var(--colour);
}

/* - [ MOBILE ] - */

@media (max-aspect-ratio: 7/8) {

  /* Make room for drawer */
  .main{
    margin-top: 2.5em;
  }

  .sidebar {
    width: 100%;

    transition: ease .3s;
  }

  .drawer{
    display: block;
  }
  .sidebar.hide {
    transform: translate(-100%, 0);
  }

}
